.features-container {
    display: flex;
    gap: 24px;
}

.features-container-item {
    flex-basis: 264px;
}

.feature-name {
    margin-bottom: 8px;
}

.feature-text {
    font-weight: 400;
    font-size: 16px;
}